.grid {
  display: grid;
  border: 2px blue solid;
  height: 500px;
  width:500px;
  grid-template: repeat(4, 1fr 2fr) / repeat(4, 3fr 2fr);
  grid-gap: 5px;
}

.a {
  grid-row: 5 / 7;
}

.box {
  background-color: beige;
  color: black;
  border-radius: 5px;
  border: 2px dodgerblue solid;
}


/* instead of using row-start and row-end you can pass both arguments into grid-row

.item {
  grid-row-start: 4;
  grid-row-end: 6;
}

Becomes....

.item {
  grid-row: 4 / 6;
}
 */
