p {
  font-family: Arial;
}

h1{
  color: maroon;
}

.title {
  color: teal;
}

/* you can select HTML elements class attribute by using a . before the name of the class

EX:
<h1 class="title">

.title{

}

 */
